:root {
    --title-color: #04810a;
    --white-color: hsl(0,0%,15%);
    --icon-color: #20db29;
    --icon-input-color: #333;
    --input-focus-color: rgb(150, 150, 150);
    --primary-color: #04810a;
    --btn-color: rgb(214, 213, 213);
    --btn-hover-color: #20db29;
    --panel-content-color: black;

    

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body, input {
    font-family: "Poppins", sans-serif;
}

.container {
    position: relative;
    width: 100%;
    background-color: black;
    min-height: 100vh;
    overflow: hidden;
    z-index: 6;
}

/*posicionamento dos itens do fomulario*/
.forms-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

/*quadrado azul que cobre o sign-up*/
.container::before {
    content: '';
    position: absolute;
    height: 2000px;
    width: 2000px;
    top: -10%;
    right: 48%;
    background-image: linear-gradient(-45deg, var(--primary-color) 0%, var(--btn-hover-color) 100%);
    transform: translateY(-50%);
    border-radius: 50%;
    transition: 1.8s ease-in-out;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    padding: 0 5rem;
}


/*======= SIGN IN ====== */
/*cor do titulo*/
.title {
    font-size: 2.2rem;
    color: var(--title-color);
    margin-bottom: 10px;
}

/*campo do input*/
.input-field {
    max-width: 380px;
    width: 100%;
    height: 55px;
    background-color: var(--white-color);
    margin: 10px 0;
    border-radius: 55px;
    display: grid;
    grid-template-columns: 15% 85%;/* espaço do icone e do campo do formulário*/
    padding: 0 0.4rem;
    position: relative;

}

.input-field i {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--icon-color);
    font-size: 1.5rem;
}

.input-field input {
    background: none;
    outline: none; /* tira o focus do input*/
    border: none;
    list-style: none;
    line-height: 1;
    font-weight: 600;
    color: var(--input-focus-color);
    font-size: 1.2rem; /* tamanho da fonte no input*/
}

/*placholder do input*/
.input-field input:placeholder-shown {
    color: #aaa;
    font-weight: 500;
}

/*botao*/
.btn {
    width: 150px;
    height: 49px;
    outline: none;
    border: none;
    border-radius: 48px;
    background-color: var(--primary-color);
    color: var(--btn-color);
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    transition:  all 0.5s;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--btn-hover-color);
}

/* espaçamento entre a mensagem*/
.social-text {
    padding: 0.7rem 0;
}

.social-media {
    display: flex;
    justify-content: center;
}

/*posicionamento dos icones*/
.social-icon {
    width: 46px;
    height: 46px;
    border: 1px solid var(--icon-input-color);
    margin: 0 0.45rem; /*espaçamento lateral de um pro outro*/
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--icon-input-color);
    font-size: 1.3rem;
    border-radius: 50%;
    transition: all 0.5s;
}

/*Deixa o icone da cor do botão quando passa o mouse por cima*/
.social-icon:hover {
    color: var(--primary-color);
    border-color: var(--btn-hover-color);
}

/* posiciona o signin na esquerda*/
.signin-signup {
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: 1fr;
    z-index: 5;
}

form.sign-in-form {
    z-index: 2;
    transition: transform 1.1s .6s ease-in-out;

}


form.sign-up-form {
    z-index: 1;
    opacity: 0;
    transform: translateX(-100vw);
    transition: transform 1.1s .6s ease-in-out;
}

/*imagem de fundo*/
.image {
    width: 100%;
    transition:  1.1s 0.4s;
}

/*divide em dois paineis*/
.panels-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left:0;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /*Divide a tela em duas colunas*/
}

.panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 7;
}

.left-panel {
    padding: 3rem 17% 2rem 12%;
}

.right-panel {
    padding: 3rem 17% 2rem 17%;

}

.panel .content {
    color: var(--panel-content-color);
    transition: 0.9s .6s ease-in-out;
}

.panel h3 {
    font-weight: 600;
    line-height: 1;
    font-size: 1.5rem;
}

.panel p {
    font-size: .95rem;
    padding: .7rem 0;
}

.btn.transparent {
    margin: 0;
    background: none;
    border: 2px solid var(--btn-color);
    width: 130px;
    height: 41px;
    font-weight: 700;
    font-size: .8rem;
    margin-bottom: 2rem;
}

/*some com a imagem de fundo da direita*/
.right-panel .content, .right-panel image {
    transform: translateX(800px);
}

/* == animação ==*/


/* animação de rolar a bola azul pra direita quando clicar em signup*/
.container.sign-up-mode::before {
    transform: translate(100%, -50%);
    right: 52%;
}



/* efeito de transição*/
.container.sign-up-mode .left-panel .image,
.container.sign-up-mode .left-panel .content{
    transform: translate(-800px);
}

.container.sign-up-mode .right-panel .image,
.container.sign-up-mode .right-panel .content{
    transform: translateX(0%);
}

.container.sign-up-mode .left-panel {
    pointer-events: none;
}


.container.sign-up-mode .right-panel {
    pointer-events: none;
}


.container.sign-up-mode .right-panel {
    pointer-events: all;
}

.container.sign-up-mode .signin-signup {
    left:25%;
    
}

.container.sign-up-mode form.sign-in-form {
    z-index: 1;
    opacity: 0;
    transform: translateX(100vh);

}

.container.sign-up-mode form.sign-up-form {
    z-index: 2;
    opacity: 1;
    transform: translateX(0);
}




